*{
    /* border:solid 3px red; */
}
article>div{
    color:blue;
}
h2+p{
    color:tomato;
}
h2~p{
    color:green;
}
div[title="blackbox"], a[href]{
    /* background-color: black; */
    color:gray;
}
[class^="my"]{
    /* background-color: gray; */
}
[class$="Class"]{
    /* background-color: yellow; */
}
[class*="Cl"]{
    /* background-color: brown; */
}
a:link{
    color:gray;
    text-decoration: none;
}
 a:visited{
    color:red;
}
    a:hover{
    color:green;
}
h2:only-child{
    color:aqua;
}
article h2:only-of-type{
    color:blue;
}
ul li:first-child{
    /* text-decoration: underline; */
    /* font-size: 3rem; */
    /* color:white; */
}
ul li:last`-child{
    /* text-decoration: underline; */
    font-size: 3rem;
    /* color:white; */
}
ul li:nth-child(3){
    /* text-decoration: underline; */
}
/* ul li:nth-child(even){
    background-color: lightblue;
} */
ul li:nth-child(3n + 2){
    /* background-color: salmon; */
}
ul li:nth-last-child(3n + 2){
    /* background-color: lightblue; */
}
h2:target{
    /* background-color: black; */
}
p:not(article *) {
    /* border:solid 2px gray; */
}
h2:not(:only-child){
    /* border:solid 2px salmon; */
}
p:empty{
    /* background-color: black; */
    /* height: 10px; */
}
a::before{
    /* content:"I am a link to "; */
    /* background-color: aqua; */
}
a::after{
    /* content:" I'm after the link"; */
}
article p:first-of-type::first-letter{
    /* font-size:3rem; */
}